/config/*.xml
/config/databases.yml
/config/propel.ini
/config/choique.yml
/config/app.yml
/config/deploy.rb
/config/images.yml
Capfile
Gemfile
/log/*log
/cache/backend
/cache/frontend
/cache/*.php
/web-frontend/css/frontend
/web-frontend/images/frontend
/web-frontend/uploads/*/*.*
/flavors/[a-zA-Z]*
Gemfile.lock
/backups/*
/data/index/C*
/data/sql/*sql
/data/sql/*map
/lib/model/om/*php
/lib/model/map/*php
/plugins/*Plugin/lib/model/map/*php
/plugins/*Plugin/lib/model/om/*php
.idea
