.idea
/config/*.xml
/config/databases.yml
/config/propel.ini
/config/choique.yml
/config/app.yml
/config/deploy.rb
Capfile
Gemfile
/log/*log
/cache/backend
/cache/frontend
/cache/*.php
/web-frontend/css/frontend
/web-frontend/images/frontend
/flavors/[a-zA-Z]*
Gemfile.lock
/backups/*
/data/index/C*
/data/sql/*sql
/data/sql/*map
/lib/model/om/*php
/lib/model/map/*php
/plugins/sfGuardPlugin/lib/model/map/*php
/plugins/sfGuardPlugin/lib/model/om/*php
